* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #568EA6;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #305F72;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
  width: 320px;
  background-color: #568EA6;
  color: #fff;
}

.todo-input::placeholder {
  color: #fff;
  opacity: 0.8;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: #F18C8E;
  color: #001e1d;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
}

.todo-button:hover {
  background-color: #F18C8E;
  color: #fff;
}

.todo-input.edit {
  background-color: #F1D1B5;
}

.todo-button.edit {
  background-color: #F18C8E;
  padding: 16px 22px;
  color: #fff;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background-color: #F0B7A4;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background-color: #F18C8E;
}

.todo-row:nth-child(4n + 2) {
  background-color: #f1a38c;
}

.todo-row:nth-child(4n + 3) {
  background-color: #F1D1B5;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.delete-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.delete-icon:hover {
  color: #568EA6;
  transform: scale(1.2);
}

.edit-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.edit-icon:hover {
  color: #568EA6;
  transform: scale(1.2);
}

.todo-checkbox {
  margin-right: 16px;
}
